language: node_js
node_js:
  - '0.12'
  #- stable
sudo: false
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm install
script:
  - npm run test
after_success:
  - npm run build
