/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../scss/site.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 28, ../scss/site.scss */
#social-bar {
  position: fixed;
  top: 20px;
  right: 360px;
  z-index: 50;
}

/* line 39, ../scss/site.scss */
#location-console {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  left: 20px;
  z-index: 10;
  background: #FFF;
  width: 300px;
  min-height: 150px;
  padding-top: 42px;
}
/* line 51, ../scss/site.scss */
#location-console.hidden {
  bottom: -192px;
}
/* line 57, ../scss/site.scss */
#location-console h3 {
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
  background: #EFEFEF;
  border: 1px solid #EEE;
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 14px;
  color: #41403e;
  text-align: center;
  padding: 10px;
  margin: 0px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
/* line 75, ../scss/site.scss */
#location-console h3 i {
  color: #b650ff;
  font-size: 16px;
}
/* line 81, ../scss/site.scss */
#location-console ul {
  list-style-type: none;
  padding: 5px;
}
/* line 85, ../scss/site.scss */
#location-console ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EFEFEF;
  border: 1px solid #DDD;
  color: #b650ff;
  font-size: 12px;
  text-shadow: 0px 1px 0px #FFF;
  margin: 5px;
  float: left;
  height: 28px;
  width: 46px;
  line-height: 28px;
  display: block;
  text-align: center;
}

/* line 108, ../scss/site.scss */
#sidebar-wrapper {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  background: #FFF;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  width: 310px;
  border-left: 1px solid #FFF;
}

/* line 119, ../scss/site.scss */
#sidebar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #FFF;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  width: 300px;
}
/* line 130, ../scss/site.scss */
#sidebar header {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background: #F9CE4E;
  height: 36px;
  color: #FFF;
  padding: 15px;
  border-bottom: 1px solid #eab914;
  position: relative;
}
/* line 139, ../scss/site.scss */
#sidebar header h1 {
  font-size: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  margin: 0px auto;
  color: #c39302;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
/* line 149, ../scss/site.scss */
#sidebar header h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 1;
}
/* line 157, ../scss/site.scss */
#sidebar header h2 strong {
  font-weight: bold;
}
/* line 161, ../scss/site.scss */
#sidebar header h2 a {
  text-decoration: none;
  color: #c39302;
}
/* line 165, ../scss/site.scss */
#sidebar header h2 a:hover {
  text-decoration: underline;
  color: #50B1FF;
}
/* line 173, ../scss/site.scss */
#sidebar .content {
  padding: 20px 20px;
  position: absolute;
  top: 67px;
  bottom: 61px;
  left: 0px;
  right: 0px;
  z-index: 2;
  overflow: auto;
  color: #41403E;
}
/* line 184, ../scss/site.scss */
#sidebar .content a {
  color: #408ecc;
}
/* line 188, ../scss/site.scss */
#sidebar .content strong {
  font-weight: bold;
  color: #41403e;
}
/* line 193, ../scss/site.scss */
#sidebar .content h3 {
  font-weight: bold;
  font-size: 18px;
  color: #41403e;
  margin: 0px 0px 10px 0px;
  line-height: 24px;
}
/* line 201, ../scss/site.scss */
#sidebar .content p {
  margin-bottom: 40px;
  line-height: 24px;
  font-size: 14px;
}
/* line 208, ../scss/site.scss */
#sidebar .content dl dt {
  font-weight: bold;
  font-size: 13px;
  color: #408ecc;
  line-height: 24px;
}

#sidebar .content dl a {
  text-decoration: none;
}

/* line 215, ../scss/site.scss */
#sidebar .content dl dd {
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 13px;
}
/* line 226, ../scss/site.scss */
#sidebar footer {
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: #EFEFEF;
  padding: 10px;
  border-top: 1px solid #EEE;
}
