@-webkit-keyframes glowing {
  /* line 8, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 9, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 10, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-khtml-keyframes glowing {
  /* line 14, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 15, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 16, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes glowing {
  /* line 20, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 21, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 22, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-ms-keyframes glowing {
  /* line 26, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 27, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 28, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes glowing {
  /* line 32, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 33, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 34, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  /* line 38, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 39, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 40, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

/* line 25, ../scss/partials/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 43, ../scss/partials/_buttons.scss */
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
/* line 47, ../scss/partials/_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 53, ../scss/partials/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 59, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
}

/* line 65, ../scss/partials/_buttons.scss */
.button-block {
  display: block;
}

/* line 74, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

/* line 84, ../scss/partials/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 100, ../scss/partials/_buttons.scss */
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 100, ../scss/partials/_buttons.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/* line 100, ../scss/partials/_buttons.scss */
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6abcff), color-stop(100%, #37a6ff));
  background: -webkit-linear-gradient(top, #6abcff, #37a6ff);
  background: -moz-linear-gradient(top, #6abcff, #37a6ff);
  background: -o-linear-gradient(top, #6abcff, #37a6ff);
  background: linear-gradient(top, #6abcff, #37a6ff);
  background-color: #50b1ff;
  border-color: #1d9aff;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 101, 182, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-primary:hover {
  background-color: #50b1ff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83c8ff), color-stop(100%, #37a6ff));
  background: -webkit-linear-gradient(top, #83c8ff, #37a6ff);
  background: -moz-linear-gradient(top, #83c8ff, #37a6ff);
  background: -o-linear-gradient(top, #83c8ff, #37a6ff);
  background: linear-gradient(top, #83c8ff, #37a6ff);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-primary:active {
  background: #61afee;
  color: #0081e9;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5ff6a), color-stop(100%, #9bff37));
  background: -webkit-linear-gradient(top, #b5ff6a, #9bff37);
  background: -moz-linear-gradient(top, #b5ff6a, #9bff37);
  background: -o-linear-gradient(top, #b5ff6a, #9bff37);
  background: linear-gradient(top, #b5ff6a, #9bff37);
  background-color: #a8ff50;
  border-color: #8fff1d;
  color: white;
  text-shadow: 0 -1px 1px rgba(92, 182, 0, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-action:hover {
  background-color: #a8ff50;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1ff83), color-stop(100%, #9bff37));
  background: -webkit-linear-gradient(top, #c1ff83, #9bff37);
  background: -moz-linear-gradient(top, #c1ff83, #9bff37);
  background: -o-linear-gradient(top, #c1ff83, #9bff37);
  background: linear-gradient(top, #c1ff83, #9bff37);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-action:active {
  background: #a8ee61;
  color: #75e900;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fad567), color-stop(100%, #f8c735));
  background: -webkit-linear-gradient(top, #fad567, #f8c735);
  background: -moz-linear-gradient(top, #fad567, #f8c735);
  background: -o-linear-gradient(top, #fad567, #f8c735);
  background: linear-gradient(top, #fad567, #f8c735);
  background-color: #f9ce4e;
  border-color: #f7c01d;
  color: white;
  text-shadow: 0 -1px 1px rgba(168, 127, 6, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-highlight:hover {
  background-color: #f9ce4e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbdc7f), color-stop(100%, #f8c735));
  background: -webkit-linear-gradient(top, #fbdc7f, #f8c735);
  background: -moz-linear-gradient(top, #fbdc7f, #f8c735);
  background: -o-linear-gradient(top, #fbdc7f, #f8c735);
  background: linear-gradient(top, #fbdc7f, #f8c735);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-highlight:active {
  background: #e7c560;
  color: #daa507;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7b6a), color-stop(100%, #ff4d37));
  background: -webkit-linear-gradient(top, #ff7b6a, #ff4d37);
  background: -moz-linear-gradient(top, #ff7b6a, #ff4d37);
  background: -o-linear-gradient(top, #ff7b6a, #ff4d37);
  background: linear-gradient(top, #ff7b6a, #ff4d37);
  background-color: #ff6450;
  border-color: #ff371d;
  color: white;
  text-shadow: 0 -1px 1px rgba(182, 21, 0, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-caution:hover {
  background-color: #ff6450;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9183), color-stop(100%, #ff4d37));
  background: -webkit-linear-gradient(top, #ff9183, #ff4d37);
  background: -moz-linear-gradient(top, #ff9183, #ff4d37);
  background: -o-linear-gradient(top, #ff9183, #ff4d37);
  background: linear-gradient(top, #ff9183, #ff4d37);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-caution:active {
  background: #ee7161;
  color: #e91b00;
}

/* line 135, ../scss/partials/_buttons.scss */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c16aff), color-stop(100%, #ab37ff));
  background: -webkit-linear-gradient(top, #c16aff, #ab37ff);
  background: -moz-linear-gradient(top, #c16aff, #ab37ff);
  background: -o-linear-gradient(top, #c16aff, #ab37ff);
  background: linear-gradient(top, #c16aff, #ab37ff);
  background-color: #b650ff;
  border-color: #a11dff;
  color: white;
  text-shadow: 0 -1px 1px rgba(106, 0, 182, 0.35);
}
/* line 142, ../scss/partials/_buttons.scss */
.button-royal:hover {
  background-color: #b650ff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cb83ff), color-stop(100%, #ab37ff));
  background: -webkit-linear-gradient(top, #cb83ff, #ab37ff);
  background: -moz-linear-gradient(top, #cb83ff, #ab37ff);
  background: -o-linear-gradient(top, #cb83ff, #ab37ff);
  background: linear-gradient(top, #cb83ff, #ab37ff);
}
/* line 146, ../scss/partials/_buttons.scss */
.button-royal:active {
  background: #b361ee;
  color: #8800e9;
}

/* line 160, ../scss/partials/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
/* line 169, ../scss/partials/_buttons.scss */
.button-flat:hover {
  background: #fbfbfb;
}
/* line 172, ../scss/partials/_buttons.scss */
.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 177, ../scss/partials/_buttons.scss */
.button-flat.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #50b1ff;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-primary:hover {
  background: #6abcff;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #61afee;
  color: #038fff;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #a8ff50;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-action:hover {
  background: #b5ff6a;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-action:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #a8ee61;
  color: #82ff03;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f9ce4e;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-highlight:hover {
  background: #fad567;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-highlight:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #e7c560;
  color: #f2b708;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #ff6450;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-caution:hover {
  background: #ff7b6a;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-caution:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #ee7161;
  color: #ff2003;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/partials/_buttons.scss */
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #b650ff;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/partials/_buttons.scss */
.button-flat-royal:hover {
  background: #c16aff;
}
/* line 201, ../scss/partials/_buttons.scss */
.button-flat-royal:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #b361ee;
  color: #9603ff;
}
/* line 206, ../scss/partials/_buttons.scss */
.button-flat-royal.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 221, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}

/* line 245, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px;
}

/* line 221, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 16px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 245, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px;
}

/* line 221, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 12px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/* line 245, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px;
}

/* line 265, ../scss/partials/_buttons.scss */
.button.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
}
/* line 268, ../scss/partials/_buttons.scss */
.button.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

/* line 279, ../scss/partials/_buttons.scss */
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;
}
/* line 284, ../scss/partials/_buttons.scss */
.button-dropdown .button-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
/* line 295, ../scss/partials/_buttons.scss */
.button-dropdown .button .icon-caret-down {
  font-size: 90%;
  margin: 0px 0px 0px 3px;
  vertical-align: middle;
}
/* line 302, ../scss/partials/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-below {
  top: 115%;
}
/* line 305, ../scss/partials/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-above {
  bottom: 115%;
  top: auto;
}
/* line 311, ../scss/partials/_buttons.scss */
.button-dropdown ul {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  position: absolute;
  background: #fcfcfc;
  top: -2px;
  left: -2px;
  z-index: 1000;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  min-width: 102%;
}
/* line 325, ../scss/partials/_buttons.scss */
.button-dropdown ul li {
  padding: 0px;
  margin: 0px;
  display: block;
}
/* line 330, ../scss/partials/_buttons.scss */
.button-dropdown ul li:first-child a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 333, ../scss/partials/_buttons.scss */
.button-dropdown ul li:last-child a {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 339, ../scss/partials/_buttons.scss */
.button-dropdown ul .button-dropdown-divider {
  -webkit-box-shadow: inset 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 0px white;
  box-shadow: inset 0px 1px 0px white;
  border-top: 1px solid #e4e4e4;
}
/* line 344, ../scss/partials/_buttons.scss */
.button-dropdown ul a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  line-height: 30px;
  white-space: nowrap;
}
/* line 353, ../scss/partials/_buttons.scss */
.button-dropdown ul a:hover {
  background-color: #3c6ab9;
  color: white;
}
